In [2]:
import pandas as pd # type: ignore

data = pd.read_csv('Data.csv')
features = data.iloc[:, :-1]
target = data.iloc[:, -1]
features

       Age Salaire Etudiant
0    Petit    Haut      Non
1    Petit    Haut      Non
2    Moyen    Haut      Non
3   Senior   Moyen      Non
4   Senior     Bas      Oui
5   Senior     Bas      Oui
6    Moyen     Bas      Oui
7    Petit   Moyen      Non
8    Petit     Bas      Oui
9   Senior   Moyen      Oui
10   Petit   Moyen      Oui
11   Moyen   Moyen      Non
12   Moyen    Haut      Oui
13  Senior   Moyen      Non

In [3]:
from sklearn.preprocessing import LabelEncoder #type: ignore

label_encoder = LabelEncoder()
features = features.apply(label_encoder.fit_transform)
features

    Age  Salaire  Etudiant
0     1        1         0
1     1        1         0
2     0        1         0
3     2        2         0
4     2        0         1
5     2        0         1
6     0        0         1
7     1        2         0
8     1        0         1
9     2        2         1
10    1        2         1
11    0        2         0
12    0        1         1
13    2        2         0

In [ ]:
import decisionTree